@model ChangeRequest


<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <h4>Edit Change Request</h4>

    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="ID" type="hidden" />
    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Summary" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <textarea asp-for="Summary" class="form-control"></textarea>
            <span asp-validation-for="Summary" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TargetDate" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="TargetDate" class="form-control" />
            <span asp-validation-for="TargetDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
            <label asp-for="ActualDate" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="ActualDate" class="form-control" />
                <span asp-validation-for="ActualDate" class="text-danger"></span>
            </div>
        </div>

    <div class="form-group">
        <label asp-for="Urgency" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Urgency" asp-items="Html.GetEnumSelectList<ChangeRequest.UrgencyEnum>()" class="form-control">
                <option selected="selected" value="">Please Select</option>
            </select>
            <span asp-validation-for="Urgency" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Priority" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Priority" asp-items="Html.GetEnumSelectList<ChangeRequest.PriorityEnum>()" class="form-control">
                <option selected="selected" value="">Please Select</option>
            </select>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
    </div>
  
    <div class="form-group">
        <label asp-for="Status" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<ChangeRequest.StatusEnum>()" class="form-control">
                <option selected="selected" value="">Please Select</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <label asp-for="Modified" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.Modified)
            <span asp-validation-for="Modified" class="text-danger"></span>
        </p>
    </div>

    <div class="row">
        <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.ModifiedBy)
            <span asp-validation-for="ModifiedBy" class="text-danger"></span>
        </p>
    </div>
    <input asp-for="Owner" type="hidden" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Save Change Request" />
        </div>
    </div>

    <div class="row">
        <div class="pull-left">
            <a class="btn btn-primary" asp-controller="ChangeRequestTask" asp-action="New" asp-route-ChangeRequestId="@Model.ID">New Task</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Modified By</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(var i = 0; i < Model.ChangeRequestTasks.Count; i++)
            {
                    <tr>
                        <td><input asp-for="ChangeRequestTasks[i].ID" type="hidden" />@Model.ChangeRequestTasks[i].ID.ToString("D5")</td>
                        <td><input asp-for="ChangeRequestTasks[i].Name" type="hidden" />@Model.ChangeRequestTasks[i].Name</td>
                        <td><input asp-for="ChangeRequestTasks[i].Status" type="hidden" />@Model.ChangeRequestTasks[i].Status</td>
                        <td><input asp-for="ChangeRequestTasks[i].ModifiedBy" type="hidden" />@Model.ChangeRequestTasks[i].ModifiedBy</td>
                        <td><a asp-controller="ChangeRequestTask" asp-action="View" asp-route-id="@Model.ChangeRequestTasks[i].ID" asp-route-changeRequestId="@Model.ID">View</a></td>
                        <td><a asp-controller="ChangeRequestTask" asp-action="Edit" asp-route-id="@Model.ChangeRequestTasks[i].ID" asp-route-changeRequestId="@Model.ID">Edit</a></td>
                        <td><a asp-controller="ChangeRequestTask" asp-action="Delete" asp-route-id="@Model.ChangeRequestTasks[i].ID" asp-route-changeRequestId="@Model.ID">Delete</a></td>
                        <td>
                            <input asp-for="ChangeRequestTasks[i].Summary" type="hidden" />
                            <input asp-for="ChangeRequestTasks[i].CompletedDate" type="hidden" />
                            <input asp-for="ChangeRequestTasks[i].ChangeRequestID" type="hidden" />
                            <input asp-for="ChangeRequestTasks[i].Modified" type="hidden" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

