@model ChangeManagementSystem.ViewModels.ChangeRequestListViewModel

<div class="row">
    <h2>Open Change Requests</h2>
    <p class="text-danger">@TempData["ConcurrencyErrorMessage"]</p>
    <table class="table">
        <thead>
            <tr>
                <th>CR ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Priority</th>
                <th>Urgency</th>
                <th>Last Modified By</th>
                <th>Target Date</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cr in Model.ChangeRequests)
            {
                <tr>
                    <td>@cr.ID.ToString("D5")</td>
                    <td>@cr.Name</td>
                    <td>@cr.Status</td>
                    <td>@cr.Priority</td>
                    <td>@cr.Urgency</td>
                    <td>@cr.ModifiedBy</td>
                    <td>@cr.TargetDate.ToString("MM/dd/yyyy")</td>
                    <td><a asp-controller="ChangeRequest" asp-action="View" asp-route-id="@cr.ID">View</a></td>
                    <td><a asp-controller="ChangeRequest" asp-action="Edit" asp-route-id="@cr.ID">Edit</a></td>
                    <td><a asp-controller="ChangeRequest" asp-action="Delete" asp-route-id="@cr.ID" 
                           onclick="return confirm('Are you sure you wish to delete this Change Request?');"
                           asp-route-rowversion="@System.Text.Encoding.Unicode.GetString(cr.RowVersion)">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>