@model ChangeRequestTask

<h2>Task: @Model.ID for ChangeRequest: @Model.ChangeRequestID</h2>

    <input asp-for="ChangeRequestID" type="hidden" />

    <div class="row">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.Name)
        </p>
    </div>

    <div class="row">
        <label asp-for="Summary" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.Summary)
        </p>
    </div>

    <div class="row">
        <label asp-for="CompletedDate" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.CompletedDate)
        </p>
    </div>

    <div class="row">
        <label asp-for="Status" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.Status)
        </p>
    </div>

    <div class="row">
        <label asp-for="Modified" class="col-md-2"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.Modified)
        </p>
    </div>

    <div class="row">
        <label asp-for="ModifiedBy" class="col-md-2"></label>
        <p class="col-md-5">
            @Html.DisplayFor(model => model.ModifiedBy)
        </p>
    </div>
