@model ChangeRequestTask

<h2>Delete Task: @Model.ID for ChangeRequest: @Model.ChangeRequestID</h2>

<form asp-action="Delete" method="post" class="form-horizontal" role="form">
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="ID" type="hidden" />
    <input asp-for="ChangeRequestID" type="hidden" />
    
    <div class="row">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            <span class="form-control">@Model.Name</span>
            <input asp-for="Name" type="hidden" />
        </p>
    </div>

    <div class="row">
        <label asp-for="Summary" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            <span class="form-control">@Model.Summary</span>
            <input asp-for="Summary" type="hidden" />        </p>
    </div>

    <div class="row">
        <label asp-for="CompletedDate" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            <span class="form-control">@Model.CompletedDate</span>
            <input asp-for="CompletedDate" type="hidden" />        </p>
    </div>

    <div class="row">
        <label asp-for="Status" class="col-md-2 control-label"></label>
        <p class="col-md-5">
            <span class="form-control">@Model.Status</span>
            <input asp-for="Status" type="hidden" />    </div>

    <div class="row">
        <label asp-for="Modified" class="col-md-2"></label>
        <p class="col-md-5">
            <span class="form-control">@Model.Modified</span>
            <input asp-for="Modified" type="hidden" />        </p>
    </div>

    <div class="row">
        <label asp-for="ModifiedBy" class="col-md-2"></label>
        <p class="col-md-5">
            <span class="form-control">@Model.ModifiedBy</span>
            <input asp-for="ModifiedBy" type="hidden" />        </p>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-3">
            <input type="submit" class="btn btn-primary" value="Delete Task" />
        </div>
    </div>
</form>